<input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch"
(keyup)="find()">
<div id="one"></div>
{{s}}
<div class="square" id="square">
    <div *ngFor="let quest of quests | LockFilter: query | slice: start:finish" 
      [title]="quest.description" id="proverka"> 
      <span class="name"><b>Name:</b>
        {{quest.name}} 
      </span>
      <span>Category:
        {{quest.category}} 
      </span>
      <span>Subcategory:
        {{quest.subcategory}}  
      </span>
      <span class="control">
        <button>edit</button>
        <button class="delete" (click)="delete(quest)">delete</button>
      </span>
      
    </div>   
</div>

<button (click)="next()" [disabled]="i<finish">next</button>

