*{
  font-family: 'Gelasio', serif;
}

/*Стили для модального окна*/
section .mail-list{
  background: #787A77;
}
section .banner{
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.popup {
  background:red; 
  margin-right: 70px;
}
.control{
    float: right; 
    margin-right: 5px;  
}
.texar{
  width: 496px;
  text-align: center;
}
.banner-main{
  font-size: 34px;
  color: red;
}
.banner{
  font-size:18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu-choice{
  text-align:left;
 }
 /*Стили для модального окна*/



 /*Стили для поиска*/
 .content {
   margin: 0;
 }
 .content input{
  display: block;
  width: 25%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 10px 0 10px 10px;
 }

 /*Стили для вывода героев*/
 .id{
   font-weight: bold;
 }
 .name{
   position: absolute;
   left:5%;
 }
.category{
   position: absolute;
  left: 20%;
 }
 .subcategory{
   position: absolute;
   left: 40%;
 }


.square {
    margin-left: -40px;
   
    list-style: none;
    padding: 10px;
}
  
  .square strong{
    font-size: 18px;
    margin-right: 3px;
  }
  .square div {
    height: 40px;
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #053B73;
    transition: .3s linear;
    display: flex;
    justify-content: space-between;
  }
  .square div:nth-child(2n) {
    height: 40px;
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #2F95FF;
    transition: .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    display: flex;
    justify-content: space-between;
  }
  .square div .odd:before {
    border-top: 2px solid #2F95FF;
  }
  
  .square div:last-child {margin-bottom: 10px;}
  .square div:before {
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background:  #053B73;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;
  }
  .square div:hover {border-top: 2px solid #2F95FF;}
  .square div:hover:before {
    border: 2px solid  #2F95FF;
    background: #2F95FF;
  }

div .odd:before{
  background:  #2F95FF;
}
div .odd:hover:before {
  border: 2px solid #053B73;
  background: #053B73;
}


.form__fields{
  margin-top: 10px;
  margin-left: 10 px;
}

.form__field{
  margin-top: 10px;
  margin-bottom: 10px;
}

.subc{
  margin-left: 5px;
  display: inline;
}


select {
  width: 105px;
  border-radius: 5px;
}

.form {
  display: inline-block;
  padding: 25px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 465px;
}



.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.form input {
  text-align: center;
  outline: none;
  display: block;
  width: 400px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 20px;
  margin-left: 8px;
  box-sizing: border-box;
}



.ng-valid[required], .ng-valid.required{
  border-left: 5px solid #42A948;
}

.ng-invalid.required{
  border-left: 5px solid #a94442;
}
.form__field input{
  margin-top: 4px;
  margin-bottom: 15px;
  border-radius: 4px;
}
