
.zagolovok {
  text-align: center;
  font-size: 28px;
  color: red;
  margin-bottom: 10px;
}

.btn{
  position: relative;
  left: 110px;

  top: 15px;
  
}
.fd{
  margin-right: 35px;
}
.form__fields{
  margin-top: 10px;
  margin-left: 0;
}

.form__field{
  margin-top: 10px;
  margin-bottom: 10px;
}
.call{
  
  position:relative;
  left:190px;
  margin-top:20px;
}
.subc{
  margin-left: 5px;
  display: inline;
}
.text{
  color: black;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
select {
  width: 105px;
  border-radius: 5px;
}

.form {
  display: inline-block;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 465px;
}



.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.form input {
  text-align: center;
  outline: none;
  display: block;
  width: 400px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 20px;
  margin-left: 8px;
  box-sizing: border-box;
}

.form button {
  width: 25%;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 5;
  background-color: #ccc;
  color: #fff;
}


.ng-valid[required], .ng-valid.required{
  border-left: 5px solid #42A948;
}

.ng-invalid.required{
  border-left: 5px solid #a94442;
}